
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

*{
  box-sizing: border-box;
}
body {
  background: #ffffff !important;
  min-height: 600px;
 
  margin: 55px 5px 115px 5px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.header{
  background-color: rgb(59, 59, 230);
  text-align: center;
  color: #ffffff;
  height: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border: 1px solid;
  border-color: darkblue;
  padding: 15px;
  

}
.App{
  margin-top: 60px;
  display: flex;
  border: 1px solid;
  
  border-color: rgb(191, 190, 196);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form{
  margin-right: 15px;
  margin-top: 20px;
}